﻿@{
    ViewBag.Title = "About";
    Layout = "../Shared/_MyLayout.cshtml";
}

<hgroup class="title">
    <h1>О сайте</h1>
</hgroup>
<p>
Данный сайт был разработан группой практикантов,<br/> 
    прошедших теоретическую часть курса,<br/> 
    в рамках проект ItLab2.
</p>

<p>
    Все предложения и замечания можно отправить разработчикам в виде письма:<br/> 
    Group2.ItLap@gmail.com
</p>


<!--
<article>
    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>

    <p>
        Use this area to provide additional information.
    </p>
</article>

<aside>
    <h3>Aside Title</h3>
    <p>
        Use this area to provide additional information.
    </p>
    <ul>
        <li>@Html.ActionLink("Home", "Index", "Home")</li>
        <li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
    </ul>
</aside>-->