﻿@model Courses_Site.Models.CompaniesModel

@{
    ViewBag.Title = "Companies";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<h2>Companies</h2>
@{
    
    var menus = new[]
                {
                   new { LinkText="На главную", ActionName="Index",ControllerName="Home",Roles="All" },
                   new { LinkText="О себе", ActionName="About",ControllerName="Home",Roles="All" },
                   new { LinkText="Контакты", ActionName="Contact",ControllerName="Home",Roles="All" },
                   new { LinkText="Финансы", ActionName="Index",ControllerName="payments",Roles="Admin,User" },
                };
}

<ul id="menu">
@if (HttpContext.Current.User.Identity.IsAuthenticated)
{
    int id = WebSecurity.CurrentUserId;
    String[] roles = Roles.GetRolesForUser();
    var links = from item in menus
                where item.Roles.Split(new String[] { "," }, StringSplitOptions.RemoveEmptyEntries)
                .Any(x => roles.Contains(x) || x == "All")
                select item;
    foreach (var link in links)
    {
        @: <li> @Html.ActionLink(link.LinkText, link.ActionName,link.ControllerName)</li>
    }
}
else{
    var links = from item in menus
                where item.Roles.Split(new String[]{","},StringSplitOptions.RemoveEmptyEntries)
                .Any(x=>new String[]{"All","Anonymous"}.Contains(x))
                select item;
     foreach ( var link in links){
         @: <li> @Html.ActionLink(link.LinkText, link.ActionName, link.ControllerName)</li>
     }
}
</ul>