﻿@{
    ViewBag.Title = "Contact";
    Layout = "../Shared/_MyLayout.cshtml";
}

   

    <div class="container-fluid">
    <div class="row-fluid">
    <div class="span2">
     <ul>  <li><a href="#">Ссылка 1</a></li>
    <li><a href="#">Ссылка 2</a></li>
    <li><a href="#">Ссылка 3</a></li>
    <li><a href="#">Ссылка 4</a></li>
    </ul>
    </div>
    <div class="span10">
   dfgdfg
    </div>
    </div>
    </div>


