﻿@{
    ViewBag.Title = "index";
    Layout = "../Shared/_MyLayout.cshtml";
}
   

<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->  

    <ul class="nav nav-tabs">
        <li><a href= "/Home/Index/"><b>Все курсы</b></a></li>
        <li>@foreach (var category in Model.Categorys)
        {
            string @categoryUrl = "/Home/Index/?CategoryID=" + category.Id;
                <a href="@categoryUrl"><b>@category.Name</b></a>
        }</li>
    </ul>
        <div class="tab-content">
            <p> @Html.Partial("It")</p>
        </div>
    </div>

