﻿
 <table border="0" width="100%">
     <thead>
         <tr >
             <th colspan="2" >
                 Курсы:
             </th>
         </tr>
     </thead>
     <tbody>        
  

         @foreach (var course in Model.Courses)
         {
             string @redactCoursUrl = "/Home/Update/" + course.Id;
             string @deleteCoursUrl = "/Home/Delete/" + course.Id;
             <tr >
                 <td rowspan="2">
                      Компания 
                    <a href="/Company/OpenPageCompany?IdCompany=@course.Company.ID">
                         <aaa>@course.Company.CompanyName </aaa></a>
                        
                     <br/>
                     предлагает вышему вниманию <br/>
                     <bbb>@course.Deffinition</bbb><br/>
                     Старт : @course.StartAt.ToString("dd.MM.yyyy")<br/>
                     Окончание: @course.FinishAt.ToString("dd.MM.yyyy") <br/>
                     Напровления:     
                     @foreach (var cat in course.Categories)
                     {
                         <ccc> @cat.Name &nbsp&nbsp</ccc>
                     } <br/>
                     Обращаться по адресу:  <i>@course.Address</i>
                     <hr />
                 </td>  
                 <td>
                      
                   <!--  <a href="@redactCoursUrl">Редактировать </a>-->
                      
                 </td>
             </tr>
             <tr>
                 <td>
                     @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Admin")
                         /*||Company.GetRolesForUser(WebSecurity.CurrentUserName).Contains(@сompany.CompanyName) ---досоздать эту функцию. она позволяет удалить курс сотруднику компании*/)
                         
                     {
                          <a href="@deleteCoursUrl">Удалить</a>
                      }
                 </td> 
             </tr>        
         }             
         <ul class="pager">
              @if (Model.Page > 0)
              {
                  <li class="previous">
                      <a href="?page=@(Model.Page-1)">&larr; Назад</a>
                  </li>
              }
             @if (Model.Page < Model.TotalPages)
             {
                 <li class="next">
                     <a href="?page=@(Model.Page+1)">Вперед &rarr;</a>
                 </li>
             }
         </ul>                

         <tr>      
         <tr>
             <form action="/Home/Create" method="POST">
             @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Admin")||
                 Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("COwner")||
                 Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("CMember"))
             {
                 <td>  
                      Название курса:<br/>
                     <input type="text" required name="diffinition" /><br/>
                     Адрес:<br/> 
                     <input type="text" required name="adddress" /> <br/>
                     С&nbsp&nbsp   <br/>
                     <input type="text" required id="datepicker" name="startStr" /> <br/>
                      По&nbsp <br/>
                     <input type="text" required id="datepicker1"  name="finishStr" /> <br/>
                     Относится к категории: <br/>
                     <select size =1 name="selectCategory">
                         @foreach (var category1 in Model.AllCategories)
                         {
                             <option value="@category1.Id">@category1.Name</option>
                         }
                     </select> 
                 </td>
                 <td> 
                     <input type="submit"  value="Добавить" />                                  
                 </td>
             }
             <form>                    
         </tr> 
     </tbody>
 </table>
         <ul class="pager">
              @if (Model.Page > 0)
              {
                  <li class="previous">
                      <a href="?page=@(Model.Page-1)">&larr; Назад</a>
                  </li>
              }
             @if (Model.Page < Model.TotalPages)
             {
                 <li class="next">
                     <a href="?page=@(Model.Page+1)">Вперед &rarr;</a>
                 </li>
             }
         </ul> 