﻿@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="tabbable tabs-left">
    <ul class="nav nav-tabs">
        <li><a href= "/News/News" ><b>Все новости</b></a></li>
        <li>@foreach (var tag in Model.Tags)
        {
            string @tagUrl = "/News/News/?TagID=" + tag.Id;
                <a href="@tagUrl"><b>@tag.Title</b></a>
        }</li>
    </ul>
    <div class="tab-content">
        <p> @Html.Partial("TableNews")</p>
    </div>
</div>