﻿         <ul class="pager">
              @if (Model.Page > 0)
              {
                  <li class="previous">
                      <a href="?page=@(Model.Page-1)">&larr; Назад</a>
                  </li>
              }
             @if (Model.Page < Model.TotalPages)
             {
                 <li class="next">
                     <a href="?page=@(Model.Page+1)">Вперед &rarr;</a>
                 </li>
             }
         </ul> 
<table border="0" width="100%">
    <thead>
        <tr >
            <th colspan="2">
                Новости:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var new1 in Model.News)
        {
            string @redactCoursUrl = "/News/Update/" + new1.Id;
            string @deleteCoursUrl = "/News/Delete/" + new1.Id;
            string @UserName = new1.User.UserName;
            <tr >
                <td rowspan="2">                   
                    <bbb>@new1.Title</bbb><br/>   
                    <p>    
                        <ddd>
                            @new1.Text
                        </ddd></p> 
                    Автор: <i>@UserName</i><br/>
                    Направления:   
                    @foreach (var tag in new1.Tags)
                    {
                        <ccc> @tag.Title &nbsp&nbsp</ccc>
                    } <br/>                  
                    Дата публикации новости:  @new1.AddDate.ToString("dd.MM.yyyy") <br/>
                       <br />
                       <hr />
                    </td>  
                    <td>
                       <!-- <a href="@redactCoursUrl">Редактировать </a>-->
                    </td>
                 </tr>
                 <tr>
                    <td>
                    @if (WebSecurity.CurrentUserName.Contains(@UserName)
                        || Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Admin"))
                         {
                          <a href="@deleteCoursUrl">Удалить</a> 
                         }
                    </td> 
                </tr>                  
            }     
                <tr>  
            </tr>
            <tr>
                <td>                                                   
            @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Admin")||
                 Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("COwner")||
                 Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("CMember"))
            {
                <form action="/News/Create" method="POST">
                    <td>                           
                        Заглавие: <input type="text" name="title" /><br/>
                        Содержание: <!--<input type="text" name="text" />  -->
                        <textarea name="text" cols="10" rows="10"></textarea><br/>           
                        <select size =1 name="selectCategory">
                            @foreach (var tag1 in Model.AllTag)
                            {
                                <option value="@tag1.Id">@tag1.Title</option>
                            }
                        </select>   
                    </td>
                    <td> 
                        <input type="submit"  value="Добавить" />                                                         
                    </td>
                </form>
            }
        </tr>
    </tbody>
</table>

         <ul class="pager">
              @if (Model.Page > 0)
              {
                  <li class="previous">
                      <a href="?page=@(Model.Page-1)">&larr; Назад</a>
                  </li>
              }
             @if (Model.Page < Model.TotalPages)
             {
                 <li class="next">
                     <a href="?page=@(Model.Page+1)">Вперед &rarr;</a>
                 </li>
             }
         </ul> 
