﻿         <ul class="pager">
             @if (Model.Page > 0)
             {
                 <li class="previous">
                     <a href="?page=@(Model.Page-1)">&larr; Назад</a>
                 </li>
             }
             @if (Model.Page < Model.TotalPages)
             {
                 <li class="next">
                     <a href="?page=@(Model.Page+1)">Вперед &rarr;</a>
                 </li>
             }
         </ul>
 <table border="0" width="100%">  
        <thead>
            <tr>
                <th>
                    Имя пользователя
                </th>
                @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Admin"))
                        {
                <th>
                </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.Users)
            {
                string @deleteUsersUrl = "Users/Delete/id=" + user.UserId;
                string @deleteInComрanyUsersUrl = "Users/DeleteInComрany/id=" + user.UserId;          
                <tr>
                    
                        @if ((!user.UserName.Equals(WebSecurity.CurrentUserName) &&
                             Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("COwner"))||
                            Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Admin"))
                         {                           
                       <td>
                    Имя пользователя: 
                        <bbb>@user.UserName</bbb>
                        <br />
                        <hr />
                        <br/>
                    </td>       
                         }
                        @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Admin"))
                        {
                    <td>             
                           <!--<a href="@deleteUsersUrl">Удалить</a>-->
                    </td> 
                        }                          
                    <td>  
                    @if (!user.UserName.Equals(WebSecurity.CurrentUserName) &&
                             Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("COwner"))
                         {             
                           <a href="@deleteInComрanyUsersUrl">Удалить Из Копании</a>
                         } 
                    </td>       
                </tr>            
            }    
                   
     </tbody>
 </table>

<ul class="pager">
              @if (Model.Page > 0)
              {
                  <li class="previous">
                      <a href="?page=@(Model.Page-1)">&larr; Назад</a>
                  </li>
              }
             @if (Model.Page < Model.TotalPages)
             {
                 <li class="next">
                     <a href="?page=@(Model.Page+1)">Вперед &rarr;</a>
                 </li>
             }
         </ul>        


 