﻿@{
    ViewBag.Title = "Users";
}
<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->  
    <ul class="nav nav-tabs">
        @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("COwner"))
        {
            <li><a href= "/Users/Users"><b>Сотрудники</b></a></li>
        }       
       @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Admin"))
       {
           <li><a href= "/Users/Users"><b>Все пользователи</b></a></li>
       }            
    </ul>
    <div class="tab-content">
            <p> @Html.Partial("TableUser")</p>
    </div>
</div>