﻿
<!DOCTYPE html>
<html>

    <head>
        <title>@ViewBag.Title</title>
    </head>    
       <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="screen">      
       <script src="http://code.jquery.com/jquery-latest.js"></script>
        <script src="~/Scripts/bootstrap.min.js"></script><script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
    <script>
        $(function () {
            $("#datepicker").datepicker();
            $("#datepicker1").datepicker();
        });
    </script>

        <style>
         aaa {
             /*название компании в списках курсов*/
             color:blue;
         }
         bbb {
             /*название курсов в списках курсов*/
             font-size:20px;
             font-style:italic;
             font-weight: bold  ;
             color:purple;           
         }
          ccc {
             /*категории в списках курсов*/
             color:green;
         }       
          ddd {
             /*текст из списка новостей*/
             color:green;
             font-size:17px;
             color:blue; 
             font-style:italic;                       
         } 
            body
            { 

                border-radius: 15px;
                /*width: 80%;*/
                margin: 6% 20% 0% 20%;                 
            }
            .navbar
            {
                overflow: visible;
            }
            .navbar-inner {
                height: 50px;
            }

            .nav 
            {
                height: 100%;
                text-align: center;
            }
            .content-wrapper
            {
                float: right;
            }
        </style>
  <body>
        <div class="navbar" dir="ltr">
            <div class="navbar-inner">
                <a class="brand" href="#">Courses_Site ;)</a>
                <ul class="nav">
                    <li><a href="/Home/Index">Курсы</a></li>
                    <li><a href="/Company/Company">Компании</a></li>
                    <li><a href="/News/News">Новости</a></li>
                    @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("COwner")
                        || Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Admin"))
                    {
                        <li><a href="/Users/Users">Пользователи </a></li>
                    }
                    <li><a href="/Home/about">Помощь</a></li>

                </ul>
                  
           <div class="content-wrapper">
        <div class="float-right">
            <section id="login">
                @Html.Partial("_LoginPartial")
            </section>
        </div>
    </div>
            </div>
        </div>    
        @RenderBody()      
        @RenderSection("scripts", required: false)

    </body>
</html>
