﻿@{
    ViewBag.Title = "Company";
    Layout = "../Shared/_MyLayout.cshtml";
}
   
<div class="tabbable tabs-left"> <!-- Only required for left/right tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab"><b>Все компании</b></a></li>
       @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("COwner")||
           Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("CMember"))
       {
           <li><a href="#tab2" data-toggle="tab"><b>Моя компания</b></a></li>
       }
        @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("User"))
       {
        <li><a href="#tab3" data-toggle="tab"><b>Создать компанию</b></a></li>
        }
    </ul>
    <div class="tab-content">
        <div class="tab-pane active" id="tab1">
            <p> @Html.Partial("TableCompany")</p>
        </div>        
        @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("COwner")||
           Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("CMember"))
        {
            <div class="tab-pane" id="tab2">
                <p> @Html.Partial("MyCompany")</p>
            </div>
        }        
        @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("User"))
       {
        <div class="tab-pane" id="tab3">
            <p> @Html.Partial("CreateCompany")</p>
        </div>
        }
    </div>
</div>