﻿
 <table border="0" width="100%">
        <thead>
            <tr >
                <th>
                   Создание компании:
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                     <form action="/Company/Create" method="POST"> 
                         Название компании:<br/>
                         <input type="text" required name="companyName" /><br/>
                         Адрес компании:<br/>
                         <input type="text" required name="address" /> <br/>
                         <input type="submit"  value="Добавить" />
                     </form>
                </td>
            </tr>           
        </tbody>
    </table>