﻿
 <table border="0" width="100%">
        <thead>
            <tr >
                <th colspan="2">
                   Компания:
                </th>
            </tr>
        </thead>
        <tbody>
            <td rowspan="2">
            @{
                string @redactCompanyUrl = "/Company/Update/" + Model.MyCompany.ID;
                string @deleteCompanyUrl = "/Company/Delete/" + Model.MyCompany.ID;
                string @deleteFromCompanyUrl = "/Company/DeleteFrom";
                }
                    Компания 
                    <bbb>@Model.MyCompany.CompanyName</bbb><br/>
                    Зарегистрирована: @Model.MyCompany.RegDate.ToString("dd.MM.yyyy") <br/>
                    Адрес главного офиса : @Model.MyCompany.Address<br/>
                    Главный представитель компании на сайте:  <i>@Model.MyCompany.Owner.UserName</i><br/>
                    Курсы:
                        @foreach (var course in Model.MyCompany.Coursess)
                        {
                        <ccc>@course.Deffinition &nbsp&nbsp</ccc>
                        }<br/>
                    <br/>
                    </td>  
                    <td>
                        <!--
                      <a href="@redactCompanyUrl">Редактировать </a> 
                        -->
                    </td>
                 </tr>
                 <tr>
                    <td>
                        @if (WebSecurity.CurrentUserName.Contains(@Model.MyCompany.Owner.UserName))
                        {
                           <a href="@deleteCompanyUrl">Удалить</a>
                        }
                        <!--
                        @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("CMember"))
                        {
                           <a href="@deleteFromCompanyUrl">Удалитьcя из компании</a>
                        }-->
                    </td> 
        </tbody>
    </table>