﻿@{
    ViewBag.Title = "OpenPageCompany";
    Layout = "../Shared/_MyLayout.cshtml";
}

<div class="menu">
    <div>
        <a href="/Company/Company">К списку компаний</a>
    </div>
    <div>
        <a href="/Home/Index">К списку курсов</a>        
    </div>
</div><br/><br/><br/>

                    Компания 
                    <bbb>@Model.MyCompany.CompanyName</bbb><br/>
                    Зарегистрирована: @Model.MyCompany.RegDate.ToString("dd.MM.yyyy") <br/>
                    Адрес главного офиса : @Model.MyCompany.Address<br/>
                    Главный представитель компании на сайте:  <i>@Model.MyCompany.Owner.UserName</i><br/>
                    Курсы:
                        @foreach (var course in Model.MyCompany.Coursess)
                        {
                        <ccc>@course.Deffinition &nbsp&nbsp</ccc>
                        }<br/>
                    <br/>
