﻿<ul class="pager">
              @if (Model.Page > 0)
              {
                  <li class="previous">
                      <a href="?page=@(Model.Page-1)">&larr; Назад</a>
                  </li>
              }
             @if (Model.Page < Model.TotalPages)
             {
                 <li class="next">
                     <a href="?page=@(Model.Page+1)">Вперед &rarr;</a>
                 </li>
             }
         </ul> 
<table border="0" width="100%">
    <thead>
        <tr >
            <th colspan="2">
                Компании:
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var сompany in Model.Companies)
        {
            string @redactCompanyUrl = "/Company/Update/" + сompany.ID;
            string @deleteCompanyUrl = "/Company/Delete/" + сompany.ID;
            <tr >
                <td rowspan="3">
                    Компания 
                    <bbb>@сompany.CompanyName</bbb><br/>
                    Зарегистрирована: @сompany.RegDate.ToString("dd.MM.yyyy") <br/>
                    Адрес главного офиса : @сompany.Address<br/>
                    Главный представитель компании на сайте:  <i>@сompany.Owner.UserName</i><br/>
                    Курсы:
                    @foreach (var course in сompany.Coursess)
                    {
                        <ccc>@course.Deffinition &nbsp&nbsp</ccc>
                    }<br/>
                    <br />
                    <hr />
                </td>
                @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Admin"))
                {
                    <td> 
                        <!-- <a href="@redactCompanyUrl">Редактировать </a>--><!-- только админу-->
                    </td>
                }
            </tr>
            <tr>
                @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("Admin"))
                {
                    <td>
                        <a href="@deleteCompanyUrl">Удалить</a><!-- только админу-->
                    </td>
                }
            </tr>  
            <tr>
                @if (Roles.GetRolesForUser(WebSecurity.CurrentUserName).Contains("User"))
                {
                    <td>
                        <form action="/Company/AddInCombany" method="POST">
                            <input type="hidden" name="CompanyID" value="@сompany.ID" /><br/>
                            <input type="submit"  value="Добваиться в компанию" />
                        </form>
                    </td>
                }
            </tr>        
        }               
    </tbody>
</table>

<ul class="pager">
              @if (Model.Page > 0)
              {
                  <li class="previous">
                      <a href="?page=@(Model.Page-1)">&larr; Назад</a>
                  </li>
              }
             @if (Model.Page < Model.TotalPages)
             {
                 <li class="next">
                     <a href="?page=@(Model.Page+1)">Вперед &rarr;</a>
                 </li>
             }
         </ul> 